@import '~@fluentui/react/dist/sass/References.scss';
.start{
  color:red
}
:global{
  .j_b_8474018e{
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    flex-basis: 0;
    /* margin: 15px auto 0; */
    max-width: 100%;
    min-height: 0;
  }
}